<html data-ng-app="dig">
<head>
	<title>Dig</title>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
	<script type="text/javascript" src="index.js"></script>
	
	<link rel="stylesheet" href="style.css" />
</head>
<body data-ng-controller="game">
	<div data-display="">

	</div>
	<div class="overlay">
		<div class="shopinterface">
			<h2>Shop</h2>
			<div data-ng-repeat="(key, item) in shop">
				{{item.owned}} <button data-ng-click="purchaseShopItem(key)">{{item.name}} - {{currentCost(key) | number:0}}</button> {{item.desc}}
			</div>
			<h2>Achievements</h2>
			<div data-ng-repeat="achievement in achievements | filter: {nailed:true}">
				<span>{{achievement.name}}: {{achievement.desc}}</span>
			</div>
		</div>
		<div class="infointerface">
			<h2>Main</h2>
			Depth: {{depth}}
			<br />
			Funds: {{funds}}
		</div>
		<button data-ng-click="dig()"><h1>Dig</h1></button>
	</div>
</body>
</html>