<html data-ng-app="dig">
<head>
	<title>Dig</title>

	<script type="text/javascript" src="requestAnimationFrame.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
	<script type="text/javascript" src="index.js"></script>
</head>
<body data-ng-controller="game">
	<h1>Dig</h1>
	<br />
	<br />
	<button data-ng-click="dig()">DIG</button>
	<br />
	<h2>Main</h2>
	Depth: {{depth}}
	<br />
	Funds: {{funds}}
	<h2>Minions</h2>
	<div data-ng-repeat="(key, item) in shop">
		{{item.name}}: {{item.owned}}
		<br /><span data-ng-repeat="count in ngArray(item.owned) track by $index">X</span>
	</div>
	<h2>Shop</h2>
	<div data-ng-repeat="(key, item) in shop">
		<button data-ng-click="purchaseShopItem(key)">{{item.name}} - {{currentCost(key) | number:0}}</button> {{item.desc}}
		<br />{{item}}
	</div>
	<h2>Achievements</h2>
	<div data-ng-repeat="achievement in achievements | filter: {nailed:true}">
		<span>{{achievement.name}}: {{achievement.desc}}</span>
	</div>
</body>
</html>