<html data-ng-app="dig">
<head>
	<title>Dig</title>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular-animate.min.js"></script>
	<script type="text/javascript" src="dist/lib/angular-local-storage.min.js"></script>
	<script type="text/javascript" src="dist/js/bundle.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Ceviche+One' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="dist/css/style.css" />
</head>
<body data-ng-controller="game">
	<div data-display=""></div>
	<div data-ng-controller="tabs" class="overlay">
		<img src="dist/img/shovel.svg" class="digbutton" data-ng-click="dig()" alt="Dig" />
		<div class="shopinterface">
			<h2 class="bank">{{funds | currency}}</h2>
			<div class="tablist">
				<span class="tabhead" data-ng-class="{active: tab_shop}" data-ng-click="tab_shop = true; tab_upgrades = false; tab_achievements = false;">Minions
				</span><span class="tabhead" data-ng-class="{active: tab_upgrades}" data-ng-click="tab_shop = false; tab_upgrades = true; tab_achievements = false;">Upgrades
				</span><span class="tabhead" data-ng-class="{active: tab_achievements}" data-ng-click="tab_shop = false; tab_upgrades = false; tab_achievements = true;">Achievements</span>
			</div>
			<div data-ng-show="tab_shop" class="tab">
				<div class="shopitem" data-ng-class="{enabled: currentCost(key) <= funds}" data-ng-repeat="(key, item) in shop track by key" data-ng-click="purchaseShopItem(key)">
					<span class="hidden">{{item.owned}}</span>
					<span data-amt="{{item.owned}}"><strong>{{item.name}}</strong> <em>${{currentCost(key) | number:0}}</em></span>
					<br /> {{item.desc}}
				</div>
			</div>
			<div data-ng-show="tab_upgrades" class="tab">
				<div class="shopitem" data-ng-class="{enabled: item.cost <= funds}" data-ng-repeat="(key, item) in upgrades track by key" data-ng-show="item.available && !(item.enabled)" data-ng-click="purchaseUpgradeItem(key)">
					<span><strong>{{item.name}}</strong> <em>${{item.cost | number:0}}</em></span>
					<br /> {{item.desc}}
				</div>
			</div>
			<div data-ng-show="tab_achievements" class="tab">
				<div class="shopitem enabled" data-ng-repeat="achievement in achievements | filter: {nailed:true} track by $index">
					<span class="title">{{achievement.name}}</span><br />
					<span>{{achievement.desc}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="achievement">
		<div class="alert" data-ng-repeat="achievement in achievements | filter: {nailed:true} track by $index">
			<span class="title">{{achievement.name}}</span><br />
			<span>{{achievement.desc}}</span>
		</div>
	</div>
</body>
</html>