<html data-ng-app="dig">
<head>
	<title>Dig</title>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
	<script type="text/javascript" src="index.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Ceviche+One' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" href="style.css" />
</head>
<body data-ng-controller="game">
	<div data-display="">

	</div>
	<div class="overlay">
		<button class="digbutton" data-ng-click="dig()"><h1>Dig</h1></button>
			<div class="shopinterface">
			<h2>Shop - ${{funds | number}}</h2>
			<div class="shopitem" data-ng-repeat="(key, item) in shop" data-ng-click="purchaseShopItem(key)">
				<span class="hidden">{{item.owned}}</span>
				<span data-amt="{{item.owned}}"><strong>{{item.name}}</strong> <em>${{currentCost(key) | number:0}}</em></span>
				<br /> {{item.desc}}
			</div>
			<h2>Achievements</h2>
			<div data-ng-repeat="achievement in achievements | filter: {nailed:true}">
				<span>{{achievement.name}}: {{achievement.desc}}</span>
			</div>
		</div>
	</div>
</body>
</html>