html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background: #55eeff;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.interface {
	background: white;
	background: rgba(255,255,255,.4);
	padding: 0 10px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	overflow: scroll;
	width: 500px;
}

.wrapper {
	margin: 0;
	position: relative;
	height: 100%;
}

.horizon {
	background: #8C5C0E;
}

.inner {
	max-width: 700px;
	margin: 0 auto;
	background: #382402;
	position: relative;
}

.inner .miniondiv {
	position: absolute;
	width: 700px;
	bottom: 0;
	color: white;
	text-align: center;
}