html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background: #55eeff url("img/bg_sky.png") no-repeat center center;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.shopinterface {
	background: white;
	background: rgba(255,255,255,.4);
	padding: 0px;
	width: 500px;
	margin: 0 auto;
	padding: 10px;
}

.shopitem {
	padding: 5px;
	position: relative;
}

.shopitem:hover {
	background: white;
	background: rgba(255,255,255,.7);
}

.shopitem:active {
	background: white;
}

.shopitem .itemcount {
	color: white;
	font-family: "Ceviche One", cursive;
	font-size: 40px;
	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

.infointerface {

}

.wrapper {
	background: url("img/grass.svg") repeat-x bottom;
	background-size: 50px;
	margin: 0;
	position: relative;
	height: 100%;
}

.horizon {
	background: #8C5C0E url("img/bg_soil.jpg");
	/*
	-webkit-transition: background 1000ms ease-out, height 1000ms ease-out;
	-moz-transition:    background 1000ms ease-out, height 1000ms ease-out;
	-ms-transition:     background 1000ms ease-out, height 1000ms ease-out;
	-o-transition:      background 1000ms ease-out, height 1000ms ease-out;
	transition:         background 1000ms ease-out, height 1000ms ease-out;
	*/
}

.inner {
	max-width: 700px;
	max-height: 100%;
	margin: 0 auto;
	background: #382402 url("img/bg_holeinner.jpg");
	position: relative;
	/*
	-webkit-transition: background 1000ms ease-out, height 1000ms ease-out;
	-moz-transition:    background 1000ms ease-out, height 1000ms ease-out;
	-ms-transition:     background 1000ms ease-out, height 1000ms ease-out;
	-o-transition:      background 1000ms ease-out, height 1000ms ease-out;
	transition:         background 1000ms ease-out, height 1000ms ease-out;
	*/
}

.inner:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	background: -moz-linear-gradient(left,  rgba(56,36,2,0.75) 0%, rgba(56,36,2,0) 50%, rgba(56,36,2,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(56,36,2,0.75)), color-stop(50%,rgba(56,36,2,0)), color-stop(100%,rgba(56,36,2,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(56,36,2,0.75) 0%,rgba(56,36,2,0) 50%,rgba(56,36,2,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(56,36,2,0.75) 0%,rgba(56,36,2,0) 50%,rgba(56,36,2,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(56,36,2,0.75) 0%,rgba(56,36,2,0) 50%,rgba(56,36,2,0.75) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(56,36,2,0.75) 0%,rgba(56,36,2,0) 50%,rgba(56,36,2,0.75) 100%); /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf382402', endColorstr='#bf382402',GradientType=1 ); /* IE6-9 */
}

[data-amt]:after {
	position: absolute;
	bottom: -12px;
	right: 5px;
	content: attr(data-amt);
	font-family: "Ceviche One", cursive;
	font-size: 80px;
	color: white;
}

[data-depth]:after {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 50%;
	text-align: right;
	content: attr(data-depth) ' feet';
	font-family: "Ceviche One", cursive;
	font-size: 40px;
	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	border-bottom: 1px solid white;
	color: white;
}

.inner .miniondiv {
	position: absolute;
	width: 700px;
	bottom: 0;
	color: white;
	text-align: center;
}

.digbutton {
	float: right;
}

.achievement {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.achievement .alert {
	margin: 5px auto;
	padding: 5px;
	max-width: 40%;
	border-radius: 10px;
	color: white;
	font-size: 12px;
	display: none;
	
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 1%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.5)), color-stop(1%,rgba(0,0,0,0.5)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=1 ); /* IE6-9 */
	
	-webkit-box-shadow:  0px 1px 1px 0px rgba(255, 255, 255, .7);
    box-shadow:  0px 1px 1px 0px rgba(255, 255, 255, .7);
}

.alert.ng-enter {
	-webkit-transition: all 3s ease-in;
	-moz-transition: all 3s ease-in;
	-ms-transition: all 3s ease-in;
	-o-transition: all 3s ease-in;
	transition: all 3s ease-in;

	opacity: 1;
	display: block;
}

.alert.ng-enter.ng-enter-active {
	opacity: 0;
}

.achievement .alert .title {
	font-family: "Ceviche One", cursive;
	font-size: 24px;
}

/* Utility */

.hidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0;
}